.section--primary
  .container
    %h1 Research


%section#content{ tabindex: "0" }
  .container
    %h2 Latest research
    - @briefings.each do |date, briefings|
      .flex--2__1-2
        %div
          %p.gamma= date
        %div
          %ul.list--pipe
            - briefings.each do |briefing|
              %li
                .list--details
                  %p.delta= briefing.topic
                  %h3= link_to briefing.title, briefing_path(briefing.id)
                  %p= briefing.summary
                  %p.milli= briefing.library
                  %p.milli= briefing.created
